
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div class="wrapper">
		<div th:replace="common/header :: navbar" />
		<div th:replace="common/header :: banner" />
		<section>
		  	<div class="container">
		  		<div class="row">
		      		<div class="col-sm-4">
		      			<figure class="figure">
						  <img src="https://via.placeholder.com/150" class="figure-img img-fluid rounded" alt="...">
						  <figcaption class="figure-caption">A caption for the above image.</figcaption>
						</figure>
		      		</div>
		      		<div class="col-sm-4">
		      			<figure class="figure">
						  <img src="https://via.placeholder.com/150" class="figure-img img-fluid rounded" alt="...">
						  <figcaption class="figure-caption">A caption for the above image.</figcaption>
						</figure>
		      		</div>
		      		<div class="col-sm-4">
		      			<figure class="figure">
						  <img src="https://via.placeholder.com/150" class="figure-img img-fluid rounded" alt="...">
						  <figcaption class="figure-caption">A caption for the above image.</figcaption>
						</figure>
		      		</div>
		      		<div class="col-sm-4">
		      			<figure class="figure">
						  <img src="https://via.placeholder.com/150" class="figure-img img-fluid rounded" alt="...">
						  <figcaption class="figure-caption">A caption for the above image.</figcaption>
						</figure>
		      		</div>
		      		<div class="col-sm-4">
		      			<figure class="figure">
						  <img src="https://via.placeholder.com/150" class="figure-img img-fluid rounded" alt="...">
						  <figcaption class="figure-caption">A caption for the above image.</figcaption>
						</figure>
		      		</div>
		  		</div>
		  	</div>
		</section>
    	<div th:replace="common/header :: footer" />
	</div>
</body>
</html>
